@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	margin: 0;
	padding: 0;
	background: #111111 url(../photo/bg.jpg) center bottom;		/*https://pixabay.com/en/night-photograph-starry-sky-2183637/*/
	font-family: 'Open Sans', sans-serif;
}
.model{ 
	background: #3179ed;
	opacity:0.95;
	width: 98%;
	margin: 1%;
	color: #FFFFFF;
	font-size: 1.2rem;
}
.model img{
	margin-left: 20%;
} 
p{
	margin: 0 5%;
}
p a{
	text-decoration: underline;
	color: #FFFFFF;
}
.wireframe img{
	width: 80%;
	margin: 0 10%;
}
.model h3 {
	color: #FFF999 ;
	font-size: 2.5rem;
	text-align: center;
}
.model h4 {
	color: #FFF999;
	font-size: 2.0rem;
	margin-left: 10%;
}
.model h5 {
	color: #FFF999;
	font-size: 1.7rem;
	margin-left: 10%;
}
@media screen and (max-width: 750px){

  p a,{
  	text-align: center;
  }
  .model img{
  	margin: 5%;
  	width: 90%;
  }
  }